body
{
   margin: 20px auto;
   width: 90%;   
}

div#contenido 
{
    margin: 120px auto;
}

/*afecta fieldset con id=fldFormulario (formularios)*/
fieldset#fldFormulario
{
   margin: 20px auto;
   width: 45%;   
   font-family: calibri;
   font-size: 16px;
   text-align: justify;
   border: 3px solid #93afa2;
}

/*afecta fieldset con id=fldListado (listados,pagina de error)*/
fieldset#fldListado
{
    margin: 20px auto;
    width: 80%;
    font-family: calibri;
    font-size: 16px;
    text-align: justify;
    border: 3px solid #93afa2;
    padding: 20px;
}



/*texto q aparece en los fieldset de todas las paginas*/
legend
{
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px;
    letter-spacing: 3px;
}


/*Vinculos*/
/*----------------------------------------------------------------------*/
a:link 
{
  text-decoration: none;
  color: green;
  padding: 4px;     
}

a:hover 
{
    text-decoration: underline;
    color: #DF520B;
    background-color: black;
    padding: 4px;    
}
/*----------------------------------------------------------------------*/




/*estilo para los combo-box (listas desplegables)*/
#fldFormulario select
{
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    width: 260px;
    padding: 5px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    background-color:#ddd;
}


/*estilos de las ul de los formularios*/
#fldFormulario ul
{
    list-style: none;
    width: 700px;
    margin: 10px;
    padding: 0px;
}


/*estilos de las li de los formularios*/
#fldFormulario li
{
    padding: 12px;
    position: relative;
}


/*afecta al ultimo elemento de list ( donde se encuentran los botones)*/
#fldFormulario li:last-child
{
   
    margin-right: 5px;
    margin-left: 200px;
    
}

/*estilos de los label de los formularios*/
#fldFormulario label
{
    font-size: 20px;
    float: left;
    display:inline-block;
    margin-top: 3px;
    padding: 3px;
    width: 150px;
} 


/*cuadro de ingreso de texto de los formularios*/
#fldFormulario input
{
    height: 20px;
    padding: 5px 8px;
    width: 220px;
}


#fldFormulario input
{
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px; 
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

/*cuando seleccionemos con el cursor en el cuadro de texto se agranda*/
#fldFormulario input:focus
{
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right: 55px;    
}

/*Imagenes que agrega en cuadro de texto, requerido, validado, invalido.*/
/*----------------------------------------------------------------------*/
/*agrega imagen asterisco en el texto del input cuando este requerido */
#fldFormulario input:required
{
    background: #fff url(images/asterisco1.png) no-repeat 98% center;
}

/*agrega imagen valido en el texto del input cuando escribimos texto valido */
#fldFormulario input:required:valid
{
     background: #fff url(images/validado2.png) no-repeat 98% center;
     box-shadow: 0 0 5px #5cd053;
     border-color: #28921f;
}

/*agrega imagen admiracion en el texto del input */
#fldFormulario input:focus:invalid
{
    background: #fff url(images/invalido1.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}
/*----------------------------------------------------------------------*/


/*sugerencia que muestra junto a los ingresos de texto que deben ser numericos*/
/*----------------------------------------------------------------------*/
#fldFormulario .SugerenciaNum
{
    background: #d45252;
    border-radius: 5px;
    color: #fff;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999;
    position: absolute;
    display:none;
}

/*le agrega una flechita*/
#fldFormulario .SugerenciaNum:before
{
    content: "\25C0";
    color: #d45525;
    position: absolute;
    top:1px;
    left:-10px;
}

#fldFormulario input:focus + .SugerenciaNum
{
    display: inline;
}

#fldFormulario input:required:valid + .SugerenciaNum
{
  background: #28912f;  
}
/*cambia el color a verde cuando se ingresa texto valido*/
#fldFormulario input:required:valid + .SugerenciaNum:before
{
    color:#28921f;
}
/*----------------------------------------------------------------------*/



/*Estilo para los botones*/
/*----------------------------------------------------------------------*/
#fldFormulario button 
{
    background: #68b12f;
    border: 1px solid #509111;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color:white;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
 }

 #fldFormulario button:hover
 {
     opacity:.85;
     cursor:pointer;
 }
 
 #fldFormulario button:active
 {
     border:1px solid #20911a;
     box-shadow: 0 0 10px 5px #356b0b inset;
 }
 
 /*distancia entre botones*/
#fldFormulario button
{
    margin-left: 15px;
}
 /*----------------------------------------------------------------------*/

 

/*estilo para listados en 'ProcesoProductosVER.php' y 'ProcesoCategoriasVER.php*/
 /*----------------------------------------------------------------------*/
 table#view
{
    width: 80%;
    margin: 10px auto;
}

/*primera fila de la tabla de los listados*/
table#view th 
{
    background-color: black;
    color: white;
    letter-spacing: 2px;
    margin: auto 10px;
    text-align: center;
}

/*colorea fila impar*/
.filaIMP 
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #C2C1C1; 
}

/*colorea fila par*/
.filaPAR 
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #93afa2; 
}
 /*----------------------------------------------------------------------*/



